body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.periodic-table {
    display: grid;
    grid-template-columns: repeat(18, 60px);
    gap: 5px;
}

.element {
    background-color: #b0e0e6;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.element span {
    font-size: 12px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}